*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: cadetblue;
}
.box{
    width: 200px;
    height: 200px;
    margin: 15px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
@media only screen and (max-width :300px){
    .container{
        background-color: brown;
    }
    #box1{
        background-color: blueviolet;
        display: flex;
        color: white;
    }
}
@media only screen and (min-width :301px) and (max-width :900px){
    .container{
        background-color: white;
    }
    #box2{
        background-color:black;
        display: flex;
        color: white;
    }
}
@media only screen and (min-width :901px){
    .container{
        background-color:yellow;
    }
    #box3{
        background-color:green;
        display: flex;
        color: white;
    }
}