
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgba(22, 22, 23, .8);
    position: sticky;
    top: 0;
   
}
.head_main{
    padding-left: 22px;
    padding-right:22px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1024px;
}
.head_1_1{
    display: flex;
    height: 44px;
    justify-content: space-between;
    align-items: center;
}

.head_1_1 li{
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.main_box{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 
.main_box_1{
    color: rgb(245, 245, 247);
    position: absolute;
    margin-top: -450px;
} 
.headline{
    margin-top: 130px;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
} 
.subhead{
    font-size: 28px;
    line-height: 1.07143;
    font-weight: 600; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}
.main_box_link{
    font-size: 21px;
    line-height: 1.381;
    text-align: center; 
    margin-top: 15px;
}
.main_box_link_1{
    margin: 20px;
    text-decoration: none; 
    color: rgb(41, 151, 255);
    margin-left: -85px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.main_box_link_2{
    color: rgb(41, 151, 255);
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.second_box_img{ 
   display: flex;
   justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
}
.third_box_1{
    position: relative;
    right: 525px;
}
.third_box_text{
    position: absolute;
    
    margin-top: -580px;
}
.text1{
    font-size: 56px;
    text-align: center;
    margin-left: 1150px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif
}
.third_box_img_1{
    height: 100%;
    width: 100%;
}
