*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background-color: #141754;
    height: 100vh;
}

.box2{
    
    background-color: #0f1111;
    height: 60px;
    border-style: solid ;
    border-color: white;
    border-width: 5px;
    
}
#para{
    font-size: 25px;
    color: #f08804;
    display: inline;
    
}
ul li a{
    text-decoration: none;
    color: white;
    display: inline;
    
}
ul li{
    display: inline;
    margin-left:100px;   
}
.btn{
    margin-left: 1px;
}
.nav{
    margin-left: 2px;
    
}