
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.t1{
    background-color: rgb(14,48,81);
    color: white;
    text-align: center;
}
nav{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;

}
.left{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.left select{
    border: none;
    color: white;
    background: none; 
    margin: 0px;
    padding: 0px;
}
.left img{
    margin-left: 5px;
}
.right{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.store{
    display: flex;
    font-size: 12px;
    align-items: center;
    padding: 10px;
}
.s1{
    border-right: 2px solid white;

}
.contactus{
    display: flex;
    font-size: 12px;
    align-items: center;
    padding: 10px;
}
.c1{
    border-right: 2px solid white;
}
.login{
    display: flex;
    font-size: 12px;
    align-items: center;
    padding: 10px;
}
.l1{
    border-right: 2px solid white;

}
.like{
    padding: 10px;
    display: flex;
    font-size: 12px;
    align-items: center;


}
.l2{
    border-right: 2px solid white;
    color:black;
}
.cart{
    padding: 10px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.first img{
    display: flex;
    justify-content: center;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m{
    margin: 10px;
}
.w{
    margin: 10px;

}
.b{
    margin: 10px;

}
.g{
    margin: 10px;

}
.n{
    margin: 10px;

}
.s{
    margin: 10px;

}
.sa{
    margin: 10px;

}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
}
.four{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}
.circle_photo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.sale{
    padding-right: 1%;
}
.s2{
text-align: center;
font-size: 18px;
margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.men{
    padding-right: 1%;

}
.m1{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.women{
    padding-right: 1%;
}
.w1{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.boys{
    padding-right: 1%;
}
.b2{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.girls{
    padding-right: 1%;
}
.g1{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.new_arrivals{|
    padding-right: 1%;
}
.n1{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.app_download{
    background-color: rgb(249,231,159);
    justify-content: space-evenly;
}
.app_download_container{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}
.app_text{
    font-size: 19px;
    max-width: 490px;
font-family: 'Poppins', sans-serif;
    margin-top: 23px;
}
.code{
    display: flex;

}
.use_code{
    padding-top: 8px;
}
.code1{
    background-color: #ffdf00;
    border: 1px solid black;
    border-radius: 4px;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 3px 28px ;
}
.download{
    display: flex;
    margin-top: 3px;
}
.appstore{
    width: 118px;
    height: 35px;
}
.playstore{
    width: 118px;
    height: 35px;
}
.qrcode{
    display: flex;
    justify-content: space-evenly;
}
.app_qrcode{
    margin-top: 30px;
    margin-left: 60px;
}
.qr{
    text-align: center;
}
.app_qrcode p{
    font-size: 10px;
    margin: 6px 0 14px 10px;
}
.divider{
   margin-left: 20px;
   margin-top: 20px;
}
.collection_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.ch{
    font-size: 28px;
font-family: 'Poppins', sans-serif;
margin-bottom: 10px;
margin-top: 10px;
}
.cp{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.collection_head2{
    margin-bottom: 21px;
}
.collection_head2_1{
display: flex;
justify-content: center;
margin-top: 10px;
}
.collection_head2_2{
    display:flex;
}
.collection_head2_3{
    display: flex;
    justify-content: center;
}
.btn1{
display: flex;
justify-content: center;
margin-right:80px;
background-color: transparent;
border: 0;
font-size: 14px;
font-family: 'Poppins', sans-serif;

}
.btn2{
    font-size: 14px;
    margin-right:80px;
background-color: transparent;
border: 0;
font-family: 'Poppins', sans-serif;
}
.collection_photo{
    display: flex;
    
}
.collection_photo_1{
    margin: 20px;
}
.collection_photo_1_1{
    margin: 20px;
}
.collection_photo_1_2{
    margin: 20px;
}
.more_styles{
    background-color: rgb(14,48, 81);
}
.more_styles_1{
    text-align: center;
    color: rgb(255, 223, 0);
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 40px;
font-family: 'Poppins', sans-serif;
}
.more_styles_3{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly
}
.more_styles_4{
    display: flex;
    justify-content:space-evenly;
}
.more_styles_5{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-left: 50px;


}
.more_styles_4_1{
    display: flex;
}
.btn4{
    font-size: 14px;
font-family: 'Poppins', sans-serif;
margin-right: 60px;
background-color: transparent;
color: white;
border: 0px;
}
.btn5{
    font-size: 14px;
font-family: 'Poppins', sans-serif;
margin-right: 60px;
background-color: transparent;
color: white;
border: 0px;
}
.btn6{
    font-size: 14px;
font-family: 'Poppins', sans-serif;
margin-right: 60px;
background-color: transparent;
color: white;
border: 0px;
}
.btn7{
    font-size: 14px;
font-family: 'Poppins', sans-serif;
margin-right: 60px;
background-color: transparent;
color: white;
border: 0px;
}
.btn8{
    font-size: 14px;
font-family: 'Poppins', sans-serif;
margin-right: 60px;
background-color: transparent;
color: white;
border: 0px;
}
.photo_morestyle{
    display: flex;
    justify-content: center;
    margin-left: 5px;
}
.photo_morestyle_1{
    display: flex;
}
.photo_morestyle_1_1{
    margin-right: 10px;
}
.photo_morestyle_1_2{
    margin-right: 10px;
}
.text_more_style{
    color: white;
font-family: 'Poppins', sans-serif;
}
.nine_box_main{
    display: flex;
    background-color: rgb(14,48, 81);
margin-top: 40px;
}
.nine_box_1{
    color: rgb(255, 223, 0);
font-family: 'Poppins', sans-serif;
margin-left: 100px;
padding-top: 40px;
font-size: 28px; 
display: flex;
}
.nine_box_1_1{
    display: flex;
}
.nine_box_right{
    padding-top: 49px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    display: flex;
font-family: 'Poppins', sans-serif;
margin-left: 550px;

}