
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.t1{
    background-color: rgb(14,48,81);
    color: white;
    text-align: center;
}
nav{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;

}
.left{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.left select{
    border: none;
    color: white;
    background: none; 
    margin: 0px;
    padding: 0px;
}
.left img{
    margin-left: 5px;
}
.right{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.store{
    display: flex;
    font-size: 12px;
    align-items: center;
    padding: 10px;
}
.s1{
    border-right: 2px solid white;

}
.contactus{
    display: flex;
    font-size: 12px;
    align-items: center;
    padding: 10px;
}
.c1{
    border-right: 2px solid white;
}
.login{
    display: flex;
    font-size: 12px;
    align-items: center;
    padding: 10px;
}
.l1{
    border-right: 2px solid white;

}
.like{
    padding: 10px;
    display: flex;
    font-size: 12px;
    align-items: center;


}
.l2{
    border-right: 2px solid white;
    color:black;
}
.cart{
    padding: 10px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.first img{
    display: flex;
    justify-content: center;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m{
    margin: 10px;
}
.w{
    margin: 10px;

}
.b{
    margin: 10px;

}
.g{
    margin: 10px;

}
.n{
    margin: 10px;

}
.s{
    margin: 10px;

}
.sa{
    margin: 10px;

}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
}
.four{
    justify-content: center;
    align-items: center;
    background-color: #ffdf00;
    border-radius: 40px;
    margin-top: 6px;
    padding-left: 23px;
    width: 319px;
}
.circle_photo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.sale{
    padding-right: 1%;
}
.s2{
text-align: center;
font-size: 18px;
margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.men{
    padding-right: 1%;

}
.m1{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.women{
    padding-right: 1%;
}
.w1{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.boys{
    padding-right: 1%;
}
.b2{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.girls{
    padding-right: 1%;
}
.g1{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.new_arrivals{|
    padding-right: 1%;
}
.n1{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.app_download{
    background-color: rgb(249,231,159);
    justify-content: space-evenly;
}
.app_download_container{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}
.app_text{
    font-size: 19px;
    max-width: 490px;
font-family: 'Poppins', sans-serif;
    margin-top: 23px;
}
.code{
    display: flex;

}
.use_code{
    padding-top: 8px;
}
.code1{
    background-color: #ffdf00;
    border: 1px solid black;
    border-radius: 4px;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 3px 28px ;
}
.download{
    display: flex;
    margin-top: 3px;
}
.appstore{
    width: 118px;
    height: 35px;
}
.playstore{
    width: 118px;
    height: 35px;
}
.qrcode{
    display: flex;
    justify-content: space-evenly;
}
.app_qrcode{
    margin-top: 30px;
    margin-left: 60px;
}
.qr{
    text-align: center;
}
.app_qrcode p{
    font-size: 10px;
    margin: 6px 0 14px 10px;
}
.logo_1{
    margin-right: -20px;
}
.divider{
   margin-left: 20px;
   margin-top: 20px;
}
.collection_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.ch{
    font-size: 28px;
font-family: 'Poppins', sans-serif;
margin-bottom: 10px;
margin-top: 10px;
}
.cp{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.collection_head2{
    margin-bottom: 21px;
}
.collection_head2_1{
display: flex;
justify-content: center;
margin-top: 10px;
}
.collection_head2_2{
    display:flex;
}
.collection_head2_3{
    display: flex;
    justify-content: center;
}
.btn1{
display: flex;
justify-content: center;
margin-right:80px;
background-color: transparent;
border: 0;
font-size: 14px;
font-family: 'Poppins', sans-serif;

}
.btn2{
    font-size: 14px;
    margin-right:80px;
background-color: transparent;
border: 0;
font-family: 'Poppins', sans-serif;
}
.collection_photo{
    display: flex;
    margin-left: 70px;
    
}
.collection_photo_1{
    margin: 20px;
}
.collection_photo_1_1{
    margin: 20px;
}
.collection_photo_1_2{
    margin: 20px;
}
.more_styles{
    background-color: rgb(14,48, 81);
}
.more_styles_1{
    text-align: center;
    color: rgb(255, 223, 0);
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 40px;
font-family: 'Poppins', sans-serif;
}
.more_styles_3{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly
}
.more_styles_4{
    display: flex;
    justify-content:space-evenly;
}
.more_styles_5{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-left: 50px;


}
.more_styles_4_1{
    display: flex;
}
.btn4{
    font-size: 14px;
font-family: 'Poppins', sans-serif;
margin-right: 60px;
background-color: transparent;
color: white;
border: 0px;
}
.btn5{
    font-size: 14px;
font-family: 'Poppins', sans-serif;
margin-right: 60px;
background-color: transparent;
color: white;
border: 0px;
}
.btn6{
    font-size: 14px;
font-family: 'Poppins', sans-serif;
margin-right: 60px;
background-color: transparent;
color: white;
border: 0px;
}
.btn7{
    font-size: 14px;
font-family: 'Poppins', sans-serif;
margin-right: 60px;
background-color: transparent;
color: white;
border: 0px;
}
.btn8{
    font-size: 14px;
font-family: 'Poppins', sans-serif;
margin-right: 60px;
background-color: transparent;
color: white;
border: 0px;
}
.photo_morestyle{
    display: flex;
    justify-content: center;
    margin-left: 5px;
}
.photo_morestyle_1{
    display: flex;
}
.photo_morestyle_1_1{
    margin-right: 10px;
}
.photo_morestyle_1_2{
    margin-right: 10px;
}
.text_more_style{
    color: white;
font-family: 'Poppins', sans-serif;
}
.photo_morestyle_1_2_1{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.photo_morestyle_1_3_1{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}
.nine_box{
    margin-top: 30px;
}
.nine_box_main{
    background-color: rgb(14,48, 81);
    padding-top: 50px;
    padding-bottom: 50px;
}
.nine_box_main_1{
    margin-left: 100px;
    margin-right: 100px;
}
.nine_box_main_2{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.box_left{
    color: #ffdf00;
    font-size: 28px;
    margin-left: 10px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;

}
.box_right_1{
color: white;
font-size: 18px;
margin-left: 300px;
font-family: 'Poppins', sans-serif;
margin-top: 60px;
margin-left: 713px;
}
.nine_box_photo{
    padding-left: 14px;
}
.nine_box_photo_1{
    display: flex;
}
.nine_box_photo_1_1{
    width: 305px;
    margin-right: 20px;
}
.nine_box_photo_1_2{
    margin-left: 100px;
    
}
.nine_box_photo_1_2_text{
    background-image: linear-gradient(123deg, #fa0783, 18%, #2b7bfc);
    border-radius:  8px;
    padding: 0 8px 8px;
    height: 180px;
    margin-bottom: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: 101px;
    margin-top: -5px;
    margin-right: -105px;
}
.nine_box_photo_1_3_text{
    padding-top: 22px;
    background: #fff;
    border-radius: 8px;
    padding-left: 19px;
    bottom: 32px;
    height: 203px;
    position: relative;
}
.nine_box_photo_1_4_text{
    font-size: 14px;
font-family: 'Poppins', sans-serif;
color: #333;
font-weight: 400;
}
.nine_box_photo_1_4_text h5{
    margin-bottom: 20px;
font-family: 'Poppins', sans-serif;

}
.nine_box_photo_1_4_text span{
    font-size: 21px;
    font-weight: bold;
font-family: 'Poppins', sans-serif;

}
.nine_box_photo_1_4_text p{
    font-size: 21px;
font-family: 'Poppins', sans-serif;

}
.photo_text_2{
    background-image: linear-gradient(117deg, #ffdf00, #ff0000 98%);
    border-radius:  8px;
    padding: 0 8px 8px;
    height: 180px;
    margin-bottom: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: -310px;
    margin-top: 258px;
    width: 310px;
}
.photo_text_2_1{
    background: #fff;
    border-radius: 8px;
    padding-left: 19px;
    padding-right: 19px;
    position: relative;
    bottom: 32px;
    height: 203px;
    padding-top: 22px;
}
.nine_box_photo_1_2_n{
    margin-left: 100px;

}
.photo_text_2_2 h5{
    margin-bottom: 20px;
font-family: 'Poppins', sans-serif;

}
.photo_text_2_2 span{
    font-size: 21px;
    font-weight: bold;
font-family: 'Poppins', sans-serif;
}
.photo_text_2_2 p{
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
}
.photo_3{
    margin-left: 15px;
}
.photo_3_1{
    background-image: linear-gradient(119deg, #009c8f, #ffdf00 99%);
    border-radius:  8px;
    padding: 0 8px 8px;
    height: 180px;
    margin-bottom: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: -310px;
    margin-top: 258px;
    width: 310px;
}
.photo_3_2{
    background: #fff;
    border-radius: 8px;
    padding-left: 19px;
    padding-right: 19px;
    position: relative;
    bottom: 32px;
    height: 203px;
    padding-top: 22px;
}
.photo_3_3 h5{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.photo_3_3 span{
    font-size: 21px;
    font-weight: bold;
font-family: 'Poppins', sans-serif;
}
.photo_3_3 p{
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
}
.photo_4{
    margin-left: 15px;
}
.photo_4_1{
    background-image: linear-gradient(117deg, #2b7bfc, #ff0000 98%);
    border-radius:  8px;
    padding: 0 8px 8px;
    height: 180px;
    margin-bottom: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: -310px;
    margin-top: 258px;
    width: 310px;
}
.photo_4_2{
    background: #fff;
    border-radius: 8px;
    padding-left: 19px;
    padding-right: 19px;
    position: relative;
    bottom: 32px;
    height: 203px;
    padding-top: 22px;
}
.photo_4_3 h5{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.photo_4_3 span{
    font-size: 21px;
    font-weight: bold;
font-family: 'Poppins', sans-serif;
}
.photo_4_3 p{
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
}
.tenth_box_main{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
}
.tenth_box_1{
    display: flex;
    flex-direction: row;
    
}
.tenth_box_2_1{
    background-color: #0e3051;
    height: 120px;
    width: 640px;
    margin-top: -5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    padding-top: 25px;
}
.tenth_box_2_1_photo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tenth_box_2_1_photo span{
color: white;
font-family: 'Poppins', sans-serif;
font-size: 21px;
margin-left: 18px;
}
.tenth_box_2_1_photo a{
    text-decoration:none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.tenth_box_2_1_2 a{
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #ffdf00;
    padding-bottom: 1px;
    text-decoration: none;
}
.tenth_box_3{
    display: flex;
    margin-left: 18px;
}
.tenth_box_3_7{
    display: flex;
}
.tenth_box_3_1_1{
    display: flex;
}
.tenth_box_3_text{
    font-size: 12px;
    line-height: 1.67;
    color: #888;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.tenth_box_3_text_1{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    line-height: 1.5;
}
.tenth_box_3_price{
    display: flex;
    font-size: 16px;
}
.actual-price{
    color: #999;
    font-size: 16px;
    margin-right: 20px;
    text-decoration: line-through;
}
.discount{
    font-size: 14px;
    color: #fa0783;
    margin-left: 15px;
    line-height: 1.29;
}
.tenth_box_3_colour{
    display:flex ;
    align-items: flex-end;
    justify-content: space-between;
}
.tenth_box_3_colour_1{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 18px;  
}
.tenth_box_3_colour_1_2{
    display: flex;
    flex-direction: row;
}
.tenth_box_3_colour_1_2_1{
    background-color: rgb(255, 255, 255);
    border: .7px solid transparent;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: transparent!important;
}
.ProductCard_colorOption{
    background-color: rgb(255, 255, 255);
    border: .7px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    height: 11px;
    width: 11px;
    top: 50%;
    left: 50%;
}
.product_text{
    font-size: 16px;
    text-align: right;
    color: #999;
    margin-left: 5px;
}
.tenth_box_4{
    display: flex;

}
.tenth_box_4_1{
    display: flex;

}
.ProductCard_title_4{
    margin-left: 18px;
    font-size: 12px;
    line-height: 1.67;
    color: #888;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.ProductCard_description_4{
    margin-left: 18px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    line-height: 1.5;
}
.actual-price_4{
    color: #999;
    font-size: 16px;
    margin-right: 20px;
    text-decoration: line-through;
    margin-left: 18px;
}
.divider_11{
    margin-top: 60px;
    align-items: center;
}
._11_mainbox{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -30px;
    margin-right: 100px;
}
._11_heading{
    text-align: center;
    margin-bottom: 20px;
}
.heading_box_11{
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 40px;
    color: #0e3051;
    font-family: 'Poppins', sans-serif;

}
.photo_11{
    display:flex ;
    flex-direction: row;
    margin-left: 20px;
}
.photo_11_1{
    margin-right: 20px;
    width: 23.5%;
}
.photo_11_1_2{
    margin-right: 20px;
}
.text_12{
    background-color: rgb(255, 223, 0);
    padding: 10.5px 0px;
    width: 200px;
    border-radius: 8px;
    margin: 40px auto auto;
    height: 40px;
}
.text_12_1{
    font-size: 16px;
    color: rgb(14, 48, 81);
    margin-top: -20px;
    margin-left: 625px;
    line-height: 0.5;
    font-family: 'Poppins', sans-serif;
}
.background_13{
    background-image: url(images/as-image-bg_2x.jpeg);
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
}
.right_13{
    display: flex;
    padding: 50px;
    border-radius: 8px;
    background-color: #ffdf00;
    margin: 50px 150px 50px 0;
    align-items: center;
}
.right_13_1{
    display: flex;
    font-size: 12px;
    line-height: 1.17;
    margin: 0 0 12px;
    color: #0e3051;
    margin-top: 20px;
    margin-bottom: 18px;
    font-family: 'Poppins', sans-serif;

}
.right_13_2_text{
    font-size: 28px;
    line-height: 1.25;
    color: #0e3051;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.r{
    font-size: 14px;
    font-weight: 400;
}
.right_13_btn{
    margin-top: 20px;
    text-align: center;
}
.right_13_btn_1{
    font-size: 16px;
    text-align: center;
    color: #ffdf00;
    border-radius: 8px;
    margin: 0 20px 2px 0;
    padding: 0 60px;
    background-color: #0e3051;
    height: 45px;
}
.div_14{
    background-color: rgb(14, 48, 81);
    align-items: center;
    justify-content: center;
    display: flex;
}
.div_14_1{
    display: flex;
}
.div_14_1_text{
    font-size: 21px;
    text-transform: uppercase;
    display: flex;
    line-height: 1.33;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}
.text1{
    color: rgb(255, 223, 0);
}
.text2{
    color: white;
}
.div_14_btn{
    margin-left: 70px;
    margin-top: 16px;
}
.div_14_btn_text{
    border-radius: 2px;
    background: rgb(255, 223, 0);
    color: rgb(14, 48, 81);
    height: 45px;
    padding: 11px 20px 13px;
    font-family: 'Poppins', sans-serif;
}
.div_15{
    background-color: #ffdf00;
    margin-bottom: 50px;
    margin-top: 50px;
}
.div_15_left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.div_15_left_1{
    display: flex;
    align-items: center;
}
.StoreLocator{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.25;
    margin-right: 14px;
    color: #0e3051;
    font-weight: 700;
}
.StoreLocator_subtitle{
    font-weight: 400;
}
.StoreLocator_label{
    font-family: 'Poppins', sans-serif;
    margin-left: -255px;
}
.textbox_15{
    display: flex;
}
.textbox_15_1{
    height: 50px;
    width: 350px;
    line-height: 2;
    padding: 7px;
    border: solid;
    border-width: thin;
    border-radius: 7px;
}
._15_text{
    font-size: 14px;
    line-height: 1.64;
    width: 270px;
    font-family: 'Poppins', sans-serif;
    background: none;
    border: none;
}
._15_text_1{
    margin-left: 30px;
    margin-top: 20px;
}
._15_text_2{
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid red;
}
._16_mainbox{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}
._16_mainbox_1{
    display: flex;
    justify-content: center;
}
._16_mainbox_1_1{
    padding: 14px 20px 13px;
    background-color: #0e3051;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    border-radius: 8px;
}
._17_box{
    border-bottom: 1px solid #ddd;
}
._17_box_1{
    display: flex;
    justify-content: space-evenly;
    margin-left: 350px;
    margin-right: 200px;
}
._17_box_1_1{
    width: 30%;
}
._17_box_1_1 span{
    display: block;
    margin-top: -11px;
    margin-bottom: 21px;
}
._17_box_2{
    width: 30%;
}
._17_box_1_2{
    display: block;
    margin-top: -11px;
    margin-bottom: 21px;
    margin-top: 5px;
}
._17_box_1_2 span{
    margin-left: -140px;
}
._17_box_1_3 span{
    margin-left: -190px;
}
._17_row_1{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}
._17_row_2_1 p{
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;

}
._17_row_2_1 ul,li,a{
    color: #a69f9f;
    text-decoration: none;
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 1.75;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
._17_box_logo{
    display: flex;
    margin-top: 10px;
}
._17_box_logo p{
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

}
._17_foot{
    position: relative;
}
._17_box_input{
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}
._17_box_input_1{
    font-size: 16px;
    align-items: center;
    display: inline-flex;
    line-height: 1.4375em;
    position: relative;
    font-family: 'Poppins', sans-serif;

}
.inp{
    border: none;
    background: transparent;
    color: #999;
    width: 100%;
    border-bottom: .5px solid #0e3051;
}
.btn_17{
    position: absolute;
    right: 0;
    justify-content: flex-end;
    top: -5px;
    padding-right: 0;
    height: 45px;
    display: inline-flex;
    background-color: transparent;
    vertical-align: middle;
    border: 0px;
}
._17_para{
    font-size: 12px;
    padding-bottom: 19px;
    margin-top: 7.5px;
    color: #333;
    font-weight: 400;
}
._17_foot_1{
    border-top: 1px solid rgba(0,0,0,.12);
}
._17_foot_2{
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
}
._17_foot_3{
    display: flex;
    margin: 12px 0px;
    font-family: 'Poppins', sans-serif;

}