*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
label  {
    align-items: center;
    margin-left: 90px;
}

.head{
    background-color: orange;
    color: yellow;
    height:  30px;
    padding: 5px;
}
.body{
    background-color: darkblue;
    color: yellow;
    padding: 5px;
    
}
.btn
{
    background-color: orange;
    height: 30px;
    padding: 5px;
    text-align: center;
}
.btn1{
    margin-right: 5px;
}
