*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    position: fixed;
    width: 100%;
    height: 100%;
    color: white;
    background-image: url(img/meadow-8071932_1280.webp);
    top: 0px;
    left: 0px;
    z-index: -1;
    padding-left: 20px;
}
p{
    z-index: 0;
    padding: 20px;
}
#p2{
    z-index: 0;
    padding-top: 0px;
    color:#354737;
}